body {  
    background-size: 20px 20px;
    background-image: linear-gradient(to right, #e6e6e6 1px, transparent 1px), linear-gradient(to bottom, #e6e6e6 1px, transparent 1px);
}

.draggable { 
	width: 150px; 
	height: 150px; 
	padding: 1em;
	background-color: #78d8db; 
}

.box { 
	font-family: Sans-Serif; 
	width: 100%; 
	height: 100%;
	word-wrap: break-word;
}

#menu div { 
	float: left; 
	padding-right: 4em; 
}

/* Left-click menu */
.element-menu {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    background: #FFF;
    color: #333;
    border-radius: 5px;
    padding: 0;
}

/* Each of the items in the menu */
.element-menu li {
    padding: 8px 12px;
    cursor: pointer;
    list-style-type: none;
    transition: all .3s ease;
}

.element-menu li:hover {
    background-color: #DEF;
}

.create-menu {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    background: #FFF;
    color: #333;
    border-radius: 5px;
    padding: 0;
}

/* Each of the items in the menu */
.create-menu li {
    padding: 8px 12px;
    cursor: pointer;
    list-style-type: none;
    transition: all .3s ease;
}

.create-menu li:hover {
    background-color: #DEF;
}

.connection {
	border-width: 0px, 0px, 2px
}